*{
	margin: 0px;
	padding: 0px;
}

body {
    background-image: url(achtergrond.jfif);
    background-size: cover;
    height: 100vh;
}

@font-face { /*lettertype*/
    font-family: 'robotoregular';
    src: url('roboto-regular-webfont.woff2') format('woff2'),
         url('roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

header{
  padding-top: 25px;
  padding-bottom: 20px;
}

header > img{
    margin-left: auto;
    margin-right: auto;
    width: 175px;
    border-radius: 10px;
    display: flex;
}

p {
    font-family: 'robotoregular';
    font-size: 0.9em;
    color: white;
    padding-bottom: 10px;
}

#map {
    height: 30vh;
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
  }

#geocoder {
    font-family: 'robotoregular';
    font-size: 0.9em;
    margin-top: -30px;
    width: 200px;
}

div > nav > a {
    font-family: 'robotoregular';
    font-size: 0.7em;
    color: white;
    text-decoration: none;
    background-color: #Ce068b;
    padding: 10px;
    border-radius: 10px;
    margin-right: 10px;
}

nav {
    margin-bottom: 10px;
}
.nav {
    margin-left: auto;
    margin-right: auto;
}
nav > p {
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
}

#locatie{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

#locatie > p{
    margin-left: auto;
    margin-right: auto;
}

#flex {
    display:flex;
    justify-content: center; 
    flex-direction: column;
    margin-top: 20px;
  }

#weather {
    color: white;
    font-weight: 600;
    font-size: 0.9em; 
    font-family: 'robotoregular';
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;

  }

span{
      font-size: 0.1em;
  }
  
  
@media only screen and (min-width: 601px){
    header > img{
        width: 220px;
      }

    p {
    font-size: 1.0em;
    }

    #weather{
        font-weight: 600;
        font-size: 1.0em;
        margin-top: 20px;
    }

    #map{
        height: 35vh;
        width: 80vw;
    }

    #flex {
        display: flex;
        justify-content: space-around; 
        margin-top: 20px;
        flex-direction: column;
    }

    #locatie {
        margin-top: 10px;
    }

    div > nav > a {
        font-size: 0.8em;
    }

    @media only screen and (min-width: 901px){
        header > img{
            width: 270px;
          }
        
          p{
            font-size: 1.1em;
        }
        
        #weather{
            font-weight: 600;
            font-size: 1.2em;
            margin-top: 10px;
        }

        #flex {
            display: flex;
            justify-content: space-around; 
            margin-top: 20px;
            flex-direction: row;
        }
        
        nav{
            margin-left: 0px;
            margin-right: 0px;
        }

        weather{
            margin-left: 0px;
            margin-right: 0px;
        }

        #map{
            height: 40vh;
            width: 80vw;
        }
       
        locatie{
            margin-left: 0px;
            margin-right: 0px;
            margin-top: 10px;
        }

        div > nav > a {
            font-size: 0.9em;
        }

        @media only screen and (min-width: 1201px){
            header > img{
                width: 320px;
              }

            p{
                font-size: 1.2em;
            }

            #weather{
                font-weight: 600;
                font-size: 1.3em;
            }

            #flex {
                display: flex;
                justify-content: space-around; 
                margin-top: 20px;
                flex-direction: row;
            }

            div > nav > a {
                font-size: 1.0em;
            }

            #map{
                height: 50vh;
            }